/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
/*Asterix wildcard selector*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header*/
header {
    background-color: white;
    padding: 0 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #746F6E;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}
header i {
    font-size: 70%;
}
h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
    color: #322E2E;
}
#menu {
    list-style-type: none;
    letter-spacing: 2px;
}
#menu>li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #322E2E;
}
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #746F6E;
    padding: 0 0.5rem;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
    }
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

/*Main content*/
main {
    flex: 1 0 auto;
    margin-top: 49px;
}
#hero {
    height: 650px;
    width: 100%;
    background: url(../images/heroimage.webp) no-repeat center center/cover;
}

/*Footer*/
#social-networks {
    list-style-type: none;
    text-align: center;
    padding: 5px 0; 
    display: flex;
    justify-content: space-evenly;
}
#social-networks i {
    font-size: 150%;
    color: #322E2E;
}

/*Media queries*/

@media screen and (min-width:768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
    }
    #menu {
        display: flex;
    }
    #menu>li {
        padding-left: 1.5rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 180%;
        line-height: 50px;
        margin: 0 1rem;
    }
    main {
        margin-top:72px;
    }
}

@media screen and (min-width: 992px){
    #menu a:hover {
        border-bottom: 1px solid #322E2E;
    }
    
}
