/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header*/
header {
    background-color: aqua;
}
/*Main content*/
main {
    background-color: rgb(250, 144, 6);
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: blanchedalmond;
}